body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: lightblue;
}

h1 {
    color: black;
}

p{
    text-align: justify;
}

nav {
    background-color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 15px;
}

li:hover {
    background-color: lightgray;    
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.contenedor {
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
}

.intro {
    width: 300px;
    height: 300px;
}

.flags {
    float: left;
    width: 100px;
    height: 400px;
    margin-left: 20px;
}

.descriptionCountries{
    width: 450px;
    height: 400px;
}

.buttonMath {
    width: 200;
    height: 350px;
}

.paragraphs3{
    float: left;
    width: 350px;
    height: 400px;
    padding: 10px;    
    margin: 30px;       
}

.imgs5{    
    float: left;    
    width: 700px;
    height: 450px;
    padding: 10px;
    margin-left: 90px;    
}

.iconFlags{
    float: left;
    padding: 30px;  
    width:70px;
    height: 70px;
}

.giff{
    float: left;
}

.imgs{
    float: left;
    margin: 40px;    
    width: 150px;
    height: 150px;
    border-radius: 10px;
}