{% extends 'base.html' %}

{% block content %}

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<table style="width:100%">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Doctor</th>
            <th>Consultorio</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% if "citas" %}
        {% for cita in citas %}
        <tr>
            <td>{{cita.paciente}}</td>
            <td>{{cita.doctor}}</td>
            <td>{{cita.ubicacion}}</td>
            <td>{{cita.fecha}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No existen citas</h1>
        {% endif %}
    </tbody>
</table>

{% endblock %}