{% extends 'base.html' %}

{% block title %}
Gestión de Citas
{% endblock %}

{% block content %}

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<table style="width:100%">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Doctor</th>
            <th>Consultorio</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% if "citas" %}
        {% for cita in citas %}
        <tr>
            <td>{{cita.paciente}}</td>
            <td>{{cita.doctor}}</td>
            <td>{{cita.ubicacion}}</td>
            <td>{{cita.fecha}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No existen citas</h1>
        {% endif %}
    </tbody>
</table><br>

<form method="post">
    {% csrf_token %}
    <label for="paciente_nombre">Nombre Paciente</label><br>
    <input type="text" id="paciente_nombre" name="paciente_nombre"><br><br>    

    <label for="doctor_nombre">Nombre Doctor</label><br>
    <input type="text" id="doctor_nombre" name="doctor_nombre"><br><br>

    <label for="ubicacion">Consultorio</label><br>
    <input type="number" id="ubicacion" name="ubicacion" min="101" max="105"><br><br>

    <label for="fecha_cita">Fecha Cita</label><br>
    <input type="date" id="fecha_cita" name="fecha_cita"><br><br>

    <input type="submit" value="Submit">
</form>

{% endblock %}