<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dreamsHolidays</title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body class="body">
    <h1 class="century" title="Wellcome To Japan">¡ ようこそ日本へ !</h1>
    <nav>
        <ul>
            <li><a href="index.html" title="Go Home"> <img src="/img/home.png" alt="Home"
                        style="width:20px;height:20px;"></a></li>
            <li><a href="itali.html" title="Travel To Itali"> Itali</a></li>
            <li><a href="japan.html" title="Travel To Japan"> Japan</a></li>
            <li><a href="uk.html" title="Travel To U.K."> U.K.</a></li>
        </ul>
    </nav><br>
    <div class="paragraphs3">
        <h3> Japan ¡</h3>
        <p>Going to Japan is like going to the future.</p>
        <p>The technological progress that exists in this country cannot be denied.</p>
        <p>In addition, their culture is impressive, the discipline and capacity they have for their development is
            something that must be known.</p>
        <p>I would like to visit Japan during the summer months, to experience some of the colorful Matsuri festivals
            that take place all over the country.</p>
        <p>Be able to try a variety of delicious dishes that make up Japanese cuisine.</p>
    </div>
    <div class=" imgs5">
        <img class="imgs" src="/img/japan-1.jpg">
        <img class="imgs" src="/img/japan-2.jpg">
        <img class="imgs" src="/img/japan-3.jpg">
        <img class="imgs" src="/img/japan-4.jpg">
        <img class="imgs" src="/img/Japan-5.jpg">
        <img class="imgs" src="/img/japan-6.jpg">
    </div>
</body>

</html>